@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    font-size: 18px;
    font-family: 'Roboto Slab';
    scroll-behavior: smooth;
    text-align: justify;
    text-justify: inter-word;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: skyblue;
    box-shadow: 0 0 5px #000a;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    padding: 10px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav svg {
    fill: black;
}

.nav-link a:hover {
    font-size: 1.5rem;
}

.nav-right {
    margin-left: auto;
    margin-right: 10px;
}

.nav-right svg {
    height: 32px;
    width: 32px;
    padding: 2px;
    border: 3px solid black;
    border-radius: 20%;
    background-color: azure;
}

.brand {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
}

footer {
    min-height: 100px;
    background: linear-gradient(90deg ,rgb(8, 18, 34), rgb(29, 5, 5));
    font-size: medium;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.321);
    
    .txt-container {
        margin: 5px 10px;
    }
}

body {
    background: linear-gradient(135deg, #83a1d1, #c7a9e9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: min(30px, 5%);
    gap: 10px;
}

.card {
    height: 520px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.card img {
    height: 400px;
    display: block;
    margin: 0 auto auto;
    border-radius: 20px;
}

.card .price {
    color: red;
}

.card h2 {
    font-size: larger;
}

.buttons {
    display: inline-flex;
}

.buttons button {
    padding: 10px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    border: none;
    display: inline;
    cursor: pointer;
    margin-right: auto;
}

.buttons a {
    padding: 10px;
    border-radius: 10px;
    background-color: limegreen;
    color: white;
    font-size: large;
    text-decoration: none;
    display: inline;
    text-align: center;
}

.push-down {
    flex: 1;
}